:root {
    /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 0.5rem;
}

.ck.ck-editor__editable_inline {
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
}
